<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
   <!-- Estilos de pagina Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body oncontextmenu="return false">
    <!-- Estilo del Cursor -->
    <div class="cursor"></div>
    <!-- Navbar -->
    <%-include('../partials/header.ejs')%>
    <%- body %>
    <%-include('../partials/footer.ejs')%>
    <!-- scripts -->
    <%- include('../partials/scripts') %>
</body>

</html>