<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
   <!-- Estilos de pagina Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- StyleSheet de la seccion NAVBAR-->
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- Stylesheet de la seccion FOOTER-->
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Favicon -->
    <!--El estilo de pestaña puede variar dependiendo el foco(links.js)-->
    <link id='favicon' rel="shortcut icon" href="/images/favicon3.png" type="image/x-png">
    <title>Departamentos | Mar del Plata</title>
</head>
<body>
    <!-- Incluciones -->
    <!-- Mouse -->
    <%- include('../layouts/mouse') %>
    <%- include('../layouts/loader') %>
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>

    <!-- Scrip de JAVASCRIPT -->
    <!-- app.js link -->
    <script src="/js/app.js"></script>

    <!-- script.js link -->
    <script src="/js/script.js"></script>
</body>
</html>